/*
<3
*/

@font-face {
  font-family: Source Code Pro;
  src: url(fonts/SourceCodePro/SourceCodePro-Regular.ttf.woff);
  font-weight: normal;
}

@font-face {
  font-family: Source Code Pro;
  src: url(fonts/SourceCodePro/SourceCodePro-Bold.ttf.woff);
  font-weight: bold;
}

body                          { font-family: "Source Code Pro", Arial; }
a, a:active, a:focus, a:hover { border: none 0; }
a:visited                     { color: black; }

.email {
  text-align: left;
  font-weight: normal;
  color: grey;
}

.myname {
  font-weight: bold;
  color: black;
  font-size: 1.1em;
}

.linkhome {
  text-decoration: none;
  border: none;
}

.pgp {
  color : black;
  font-size: 0.7em;
}
